@()(implicit request: Request[AnyContent])

@main("Keyboarg Strike") {
    <div id="app">
        <header>
            <div v-bind:class="{'is-admin': isAdmin}" class="user-info">
                <span class="user-name">{{ playerName }}</span>
                <span v-if="isAdmin">
                    <button v-on:click="doGame()" v-bind:class="getResetButtonCssClass()" autofocus>{{gameOnStart() ? "run" : "reset"}}</button>
                </span>
                <span class="user-name">{{ isTimerRun ? currentTime.toFixed(3) : "" }}</span>
                <span class="time-up">{{ isUpTime ? "+5.00" : "" }}</span>
            </div>
            <img src="@routes.Assets.versioned("dell-emc-white.svg")" class="logo">
        </header>

        <section>
            <start-game v-if="gameOnStart()"
                        v-bind:players="players"></start-game>

            <run-game v-if="gameIsRunning()"
                      v-bind:step="step"
                      v-bind:results="usersResult"
                      v-bind:on-success-try="onSuccessTry"
                      v-bind:need-countdown="needCountdown"></run-game>

            <game-results v-if="gameIsFinished()" v-bind:results="finishResults"></game-results>
        </section>
    </div>
    <script>
        var appConf = {
            socketUrl: "@routes.StrikeController.ws.webSocketURL",
        }
    </script>
    <script src="@routes.Assets.versioned("dist/js/components.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("dist/js/app.js")" type="text/javascript"></script>
}